body{   
    text-align: center;
    list-style-position: inside;
    font-family: NewFont;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(64, 139, 168), rgba(92, 86, 142, 0.589));
}

@font-face {
	font-family: 'NewFont';
	src: local('SOFIAPROSOFTBOLD'), url('./SOFIAPROSOFTBOLD.woff') format('woff');
}

@font-face {
	font-family: 'ClockFont';
	src: local('DS-DIGIB'), url('DS-DIGIB.woff') format('woff');
}


#Title {
    color: rgba(60, 2, 95, 0.8);
    font-size: 500%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#Title::before {
    color: rgba(201, 219, 6, 0.8);
    content: "Snap";
}

#ParagraphText {
    font-size: 150%;
}

#SimText {
    color: rgb(25, 0, 255);
    font-size: 250%;
}

#CurrentTime {
    text-align: left;
    color: red;
    font-family: ClockFont;
    font-size: 200px;
    background-color: #010101;
    background-size: 180px;
    margin-left: 16%;
    margin-right: 5%;
    padding-left: 5%;
    border-style: solid;
    border-width: 7px;
    border-color: gray;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    position: absolute;
    min-width: 6em;
    transform: translateY(-0.5em);
}

#PurchaseButton {
    font-size: 300%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgb(40, 126, 206), blue);
    transition: background-color 0.4s, transform 0.4s;
    transform: translateY(4em);
    margin-bottom: 10em;
}

#PurchaseButton:hover {
    background-image: linear-gradient(to right, rgb(40, 57, 206));
    transform: translateY(4em) scale(1.1);
}

#Home {
    font-size: 200%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}

#HomeMain {
    color: rgb(0, 85, 7);
    font-size: 200%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}

#Pricing {
    font-size: 200%;
    margin-left: 20%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}

#PricingMain {
    color: rgb(0, 85, 7);
    font-size: 200%;
    margin-left: 20%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}


#About {
    font-size: 200%;
    margin-left: 20%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}

#AboutMain {
    color: rgb(0, 85, 7);
    font-size: 200%;
    margin-left: 20%;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
}

#AboutTitle {
    font-size: 150%;
}

.tabs {
  animation: fade 1s;
  transition: transform 0.2s;
}

.tabs:hover {
    transform: scale(1.1);
}

#PriceTab {
    transform: translateY(-18em);
}

#ControlArea {
    transform: translate(34.95em, -37.5em) ;
    background-color: rgb(102, 101, 101);
    width: 25.8%;
    height: 7em;
    border-style: solid;
    border-width: 7px;
    border-color: gray;
    border-radius: 20px;
}

#ControlBackground {
    color: rgb(102, 101, 101);

}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}